#full{
background-color: rgb(219, 240, 240);
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }
.navbar{
background-color: rgb(61, 114, 230);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(115, 163, 236); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0766be; 
  }
  #logon{
      width:40px;
  }